################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebService/obj
/Utils/obj
/Security/obj
/Infrastructure/obj
/BussinessLogic/obj
/DataAccess/obj
/EntityFrameworkCore.Extension/obj
/Models/obj
/.vs/ArchitectureAuth/v15/Server/sqlite3
/Web/ClientApp/node_modules
/Utils/bin/Debug/netcoreapp2.1
/Security/bin/Debug/netcoreapp2.1
/Models/bin/Debug/netcoreapp2.1
/Infrastructure/bin/Debug/netcoreapp2.1
/EntityFrameworkCore.Extension/bin/Debug/netcoreapp2.1
/DataAccess/bin/Debug/netcoreapp2.1
/WebService/bin/Debug/netcoreapp2.1
/BussinessLogic/bin/Debug/netcoreapp2.1
/.vs
